engine-strict=true
use-node-version=20.11.1
# Peer dependencies are a nightmare. We set this to false to make them less so.
strict-peer-dependencies=false
# This prevents pnpm publish from running if we aren't on main, which can save you some headaches.
publish-branch=main
# This makes it so that exact versions are used when we run pnpm add.
save-prefix=""
# This option tells pnpm to only resolve local deps to the local files when the workspace: protocol is used,
# and to otherwise download published versions.
link-workspace-packages=false
shamefully-hoist=true
auto-install-peers=true